Repository SiliconLabs/UnifySDK, changes with the owners that CODEOWNERS names for each.
All owners: @naagarwa, @mamehta, @sushanka, @sabollim, @phcoval, @jutiron, @dethammi, @@CICD, @@Documentation, @@UnifyCore, @@UnifyIoTServices, @@UnifyFwkServices

CODEOWNERS:

@@@UnifyCore @naagarwa @mamehta @sushanka @sabollim
@@@Documentation @naagarwa @mamehta @phcoval @jutiron @sushanka
@@@UnifyFwkServices @naagarwa @mamehta @sushanka @sabollim
@@@UnifyIoTServices @naagarwa @sushanka @sabollim
@@@CICD @naagarwa @dethammi @sushanka

# Pipeline rule and scripts
Jenkinsfile @@CICD
scripts/ @@CICD

# Documentations
**/*.md @@Documentation
doc/ @@Documentation

components/ @@UnifyCore
docker/ @@UnifyCore
cmake/ @@UnifyCore
portable_runtime/ @@UnifyCore
applications/dev_ui/ @@UnifyIoTServices
applications/examples/ @@UnifyCore
applications/gms/ @@UnifyFwkServices
applications/image_provider/ @@UnifyFwkServices
applications/nal/ @@UnifyFwkServices
applications/upvl/ @@UnifyFwkServices
applications/upti_cap/ @@UnifyFwkServices
applications/upti_writer/ @@UnifyFwkServices

CODEOWNERS               @@UnifyCore



# If a group is involved, at least one reviewer of the group must approve
(Check(@@UnifyCore >= 1))
(Check(@@UnifyFwkServices >= 1))
(Check(@@UnifyIoTServices >= 1))
(Check(@@CICD >= 1))
(Check(@@Documentation >= 1))
(Check(@@UnifyReviewers >= 1))

AllGroupsCheck(1)

SWPROT-8953: ci: github: Add rootfs action
  .github/workflows/build-rootfs.yml
Owners: none

SWPROT-8953: ci: github: Disable arm64 rootfs action
  .github/workflows/build-rootfs.yml
Owners: none

SWPROT-8953: build: Add rootfs script
  scripts/build-rootfs.sh
Owners: @@CICD

build: Relax compiler warnings to support more compilers
  cmake/include/compiler_options.cmake
Owners: @@UnifyCore

git: Remove .gitattributes
  .gitattributes
Owners: none

git: docker/uic-resources: Removed as not part of UnifyCore (LFS)
  docker/uic-resources/README.md
  docker/uic-resources/linux/slc_cli_linux.zip
  docker/uic-resources/linux/zap_apack_linux.zip
  docker/uic-resources/mac/slc_cli_mac.zip
  docker/uic-resources/mac/zap-2022.1.10.dmg
  docker/uic-resources/mac/zap_apack_mac.zip
Owners: @@UnifyCore

tests: p/cmock: Add 0001-Added-array_as_byte-config-options.patch
  patches/cmock/0001-Added-array_as_byte-config-options.patch
Owners: none

tests: build: cmake: Use Upstream cmock
  CMakeLists.txt
  cmake/modules/FindCMock.cmake
  components/testframework/libs/testframework/CMakeLists.txt
  components/testframework/target_add_unittest.cmake
Owners: @@UnifyCore

contiki: Clear events pointer once consummed
  components/uic_contiki/core/sys/process.c
Owners: @@UnifyCore

Fix cross-compile Docker build
  docker/Dockerfile
Owners: @@UnifyCore

fix(build): Allow to regenerate files using zap
  helper.mk
Owners: none

UIC-3222: Unify_UserCredential cluster integration in Dev-GUI
  applications/dev_ui/dev_gui/src/App.tsx
  applications/dev_ui/dev_gui/src/pages/base-clusters/cluster-view-overrides.tsx
  applications/dev_ui/dev_gui/src/pages/user-credential/cred-dlg/cred-dlg-types.tsx
  applications/dev_ui/dev_gui/src/pages/user-credential/cred-dlg/cred-dlg.tsx
  applications/dev_ui/dev_gui/src/pages/user-credential/user-credential-attrs/user-credential-attrs.tsx
  applications/dev_ui/dev_gui/src/pages/user-credential/user-credential-types.tsx
  applications/dev_ui/dev_gui/src/pages/user-credential/user-credential.tsx
  applications/dev_ui/dev_gui/src/pages/user-credential/user-dlg/user-dlg-types.tsx
  applications/dev_ui/dev_gui/src/pages/user-credential/user-dlg/user-dlg.tsx
  applications/dev_ui/dev_gui/zap/addon-helper.js
Owners: @@UnifyIoTServices

UIC-3222: Unify_UserCredential cluster
  applications/dev_ui/dev_gui/zap-generated/src/cluster-types/cluster-type-attributes.ts
  applications/dev_ui/dev_gui/zap-generated/src/cluster-types/cluster-types.ts
  applications/dev_ui/dev_gui/zap-generated/src/cluster-types/supported-clusters.js
  components/uic_dotdot/dotdot-xml/Unify_UserCredential.xml
  components/uic_dotdot/dotdot-xml/library.xml
  components/uic_dotdot/zap/addon-helper.js
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_attributes.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_group_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_helpers.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_send_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_supported_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_attributes.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_group_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_send_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_supported_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/test/dotdot_mqtt_test.include
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes.uam
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes_camel_case.uam
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_attribute_store_helpers.h
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_defined_attribute_types.h
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_attribute_publisher.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_force_read_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_helpers.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_registration.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_write_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.h
Owners: @@UnifyIoTServices, @@UnifyCore

UIC-3222: Allow to change parent of a node
  components/uic_attribute_store/include/attribute.hpp
  components/uic_attribute_store/include/attribute_store.h
  components/uic_attribute_store/src/attribute_store.cpp
  components/uic_attribute_store/src/attribute_store_node.cpp
  components/uic_attribute_store/src/attribute_store_node.h
  components/uic_attribute_store/test/attribute_store_cpp_wrap_test.cpp
Owners: @@UnifyCore

UIC-3222: Allow to send toast to the UI
  applications/dev_ui/dev_gui/src/App.tsx
  applications/dev_ui/dev_gui/src/dev-gui-api/handler.js
  applications/dev_ui/dev_gui/src/dev-gui-api/main.js
Owners: @@UnifyIoTServices

UIC-3222: Admin PIN Code UI
  applications/dev_ui/dev_gui/src/pages/user-credential/user-credential.tsx
Owners: @@UnifyIoTServices

UIC-3222: Sonar fixes
  components/uic_attribute_store/src/attribute_store_node.cpp
  components/uic_attribute_store/test/attribute_store_cpp_wrap_test.cpp
Owners: @@UnifyCore

UIC-3222: Regenerate U3C zap files using latest
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_attribute_store_clusters.c
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_dotdot_create_clusters.cpp
  components/uic_dotdot/zap-generated/include/dotdot_attribute_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_command_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_id_definitions.h
  components/uic_dotdot/zap-generated/include/zap-types.h
  components/uic_dotdot/zap-generated/readme_ucl_mqtt_reference.md
  components/uic_dotdot/zap-generated/src/dotdot_attribute_id_definitions.c
  components/uic_dotdot/zap-generated/src/dotdot_cluster_id_definitions.c
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_attributes.h
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_attributes.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_group_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/test/dotdot_mqtt_test.include
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_attribute_store_helpers.h
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_attribute_publisher.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_helpers.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_registration.cpp
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.c
Owners: @@UnifyCore

UIC-3272: Generated files for Switch Color
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_attributes.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_group_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_send_commands.h
  components/uic_dotdot_mqtt/zap-generated/include/dotdot_mqtt_supported_generated_commands.h
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_attributes.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_command_helpers.hpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_group_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_helpers.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_send_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/src/dotdot_mqtt_supported_generated_commands.cpp
  components/uic_dotdot_mqtt/zap-generated/test/dotdot_mqtt_test.include
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes.uam
  components/unify_dotdot_attribute_store/zap-generated/include/dotdot_attributes_camel_case.uam
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_attribute_store_helpers.h
  components/unify_dotdot_attribute_store/zap-generated/include/unify_dotdot_defined_attribute_types.h
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_attribute_publisher.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_force_read_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_helpers.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_registration.cpp
  components/unify_dotdot_attribute_store/zap-generated/src/unify_dotdot_attribute_store_write_attributes_command_callbacks.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.c
  components/unify_dotdot_attribute_store/zap-generated/test/unify_dotdot_attribute_store_test.h
Owners: @@UnifyCore

UIC-3272: Custom Switch Color cluster
  components/uic_dotdot/dotdot-xml/Unify_SwitchColor.xml
  components/uic_dotdot/dotdot-xml/library.xml
Owners: @@UnifyCore

UIC-3272: Regen zap files
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_attribute_store_clusters.c
  applications/examples/applications/emulated_end_device/components/eed_attribute_store/zap-generated/src/eed_dotdot_create_clusters.cpp
  components/uic_dotdot/zap-generated/include/dotdot_attribute_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_command_id_definitions.h
  components/uic_dotdot/zap-generated/include/dotdot_cluster_id_definitions.h
  components/uic_dotdot/zap-generated/readme_ucl_mqtt_reference.md
  components/uic_dotdot/zap-generated/src/dotdot_attribute_id_definitions.c
  components/uic_dotdot/zap-generated/src/dotdot_cluster_id_definitions.c
Owners: @@UnifyCore
